# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Ignore sensitive service account files
mes-photos-475322-a0fce2bd79ef.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# public/produits/Nouveau dossier/Vidéo sans titre ‐ Réalisée avec Clipchamp.mp4
